@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito sans', sans-serif;
}
.container{
    background-color: #ced9d708;
    width: 100vw;
    
    padding: 50px;
    display: flex;
    column-gap: 150px;
}
#present{
    background-color: rgb(46, 186, 22);
}
.attendance-btn{
    color: #ffff;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
#absent{
    background-color: rgb(244, 52, 52);
    margin-left: 9px;
}
.attendance-board{
    >h1{
        color: #009879;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        
    }
}
.reg-container{
    background-color: #ced9d708;
    padding: 20px;
    border-radius: 5px;
    width: 30vw;
    margin-top: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.324);
   
    >h1{
        color: #009879;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        margin-bottom: 24px;
    }
    
}
.reg-form{
    display: flex;
    flex-direction: column;
    border: thin solid #009879;
    padding: 15px;
    border-radius: 5px;

   
}
label{
    font-size: large;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 7px;
    color: #009879;
}
input[type=text],input[type=number]{
    padding: 10px 10px;
    font-size: medium;
    font-weight: 500;
    color: #009879;
    border: none;
    border: thin solid #009879;
    border-radius: 5px;
    margin-bottom: 25px;
    
}
input[type=submit]:hover{
    border: thin solid #ffffff;
}
input[type=submit]{
    cursor: pointer;
    align-self: center;
    color: #ffff;
    background-color:#009879;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 10px 10px;
    font-size: medium;
    font-weight: 700;
    text-transform:uppercase;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.273);
}
.styled-table {
    
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 50vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.324);
}

.styled-table thead tr {
    background-color: #009879;
    
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}